Source: sftponly
Maintainer: Stanislaw Klekot (dozzie) <dozzie@jarowit.net>
Section: misc
Priority: optional
Build-Depends: zlib1g-dev, libssl-dev

Package: sftponly
Architecture: any
Depends: ssh-server
Description: simple chroot() shell for sftp-only accounts
 Simple zero-administration shell for chroot() accounts which require sftp
 access and nothing more.
