#!/usr/bin/make -f

clean:
	@echo cleaning

build:
	make sftponly SFTPSERVER_DIR=/usr/lib/openssh
	make sftp-server.so

.PHONY: stamp

binary: stamp
	dh_install
	dh_strip
	dh_gencontrol
	dh_builddeb
#	dh_clean

stamp:
	dh_testdir
	dh_testroot
	dh_clean
