#!/usr/bin/make -f

DIR_LOCATION = PREFIX=/usr SYSCONFDIR=/etc

clean:
	make clean
	dh_clean

build:
	make all $(DIR_LOCATION)

install: build stamp
	make install $(DIR_LOCATION) DESTDIR=$(CURDIR)/debian/tmp

.PHONY: stamp

binary: install
	dh_install
	dh_installdocs
	dh_strip
	dh_gencontrol
	dh_builddeb
#	dh_clean

stamp:
	dh_testdir
	dh_testroot
	dh_clean
